<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login-cadastrar.css">
</head>

<body>

    <div class="page">
        <div class="circleBlue"></div>
        <div class="circlePurple"></div>
        <div class="circleYelow"></div>

        <div class="Welcome">
            <p>Drive for a better tomorrow</p>
            <h2>Controle Integrado <br> Da Produção</h2>
        </div>

        <div class="card">
            <form action="cadastrarUser" method="post">
                <img src="../static/img/Logo Metalsa.png">
                <h2>Cadastrar usuário</h2>
                <p>Preencha os campos com suas informações .</p>
                <input class="campo" name="nome" id="nome" type="text" placeholder="Digite seu nome" />
                <input class="campo" name="email" id="email" type="email" placeholder="Digite seu E-mail" />
                <input class="campo" name="free" id="free" type="text" placeholder="Digite seu Free" />
                <input class="campo" name="password" id="password" type="password" placeholder="Digite sua senha" />
                {% if errorCadastro %}
                <p class="txtError">Credenciais inválidas.</p>
                {% endif %}
                <input class="btn" type="submit" value="Cadastrar" id="btn-CadastrarUser" />
            </form>
        </div>
    </div>

</body>

</html>