<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>HomePage</title>

    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="./js/carrosselValores.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="circleBlue"></div>
    <div class="circlePurple"></div>
    <div class="circleYelow"></div>

    <header class="menu-principal">
        <main>
            <div class="logoMetalsa">
                <img src="./static/img/Logo Metalsa.png" />
            </div>
            <div class="menu">
                <ul>
                    <li><a href=""></a>Home</li>
                    <li><a href=""></a>Downtime</li>
                    <li><a href=""></a>Hora Extra</li>
                    <li><a href=""></a>Produção</li>
                    <li><a href=""></a>Absenteísmo</li>
                </ul>
            </div>
        </main>
    </header>
    <div class="menu-valores">

        <main>
            <div class="hearder-2">
                <ul>
                    <li><img clas="img" src="./static/img/Raio.png" />We Dare</li>
                    <li><img clas="img" src="./static/img/Coração.png" />We Care</li>
                    <li><img clas="img" src="./static/img/Estrela.png" />We Thrive</li>
                    <li><img clas="img" src="./static/img/Flecha.png" />We Grow</li>
                </ul>
            </div>

        </main>
    </div>

    <div class="SubTitle">
        <main>
            <p class="pResumoDiario">Resumo Diário das Operações</p>
        </main>
    </div>

    <div class="Cards-Resumo">
        <div class="cards">
            <ul>
                <li class="cardsResumo">
                    <img class="imgResumo" src="./static/img/IconAbsen.png">
                    <div class="valorCard">
                        <p class="valorABS">0</p>
                    </div>
                    <p class="tituloCard">Absenteísmo</p>
                    <p class="descricao">Total de faltas</p>
                </li>
                <li class="cardsResumo">
                    <img class="imgResumo" src="./static/img/FeclhaDownTime.png">
                    <div class="valorCard">
                        <p class="valorDowntime">0</p>
                    </div>
                    <p class="tituloCard">Downtime</p>
                    <p class="descricao">Tempo de linha parada[Min]</p>
                </li>
                <li class="cardsResumo">
                    <img class="imgResumo" src="./static/img/Icon HoraExtra.png">
                    <div class="valorCard">
                        <p class="valorHoraExtra">0</p>
                    </div>
                    <p class="tituloCard">HoraExtra</p>
                    <p class="descricao">Total de horas[min]</p>
                </li>
                <li class="cardsResumo">
                    <img class="imgResumo" src="./static/img/Carrinho.png">
                    <div class="valorCard">
                        <p class="valorProduzidos">0</p>
                    </div>
                    <p class="tituloCard">Produzidos</p>
                    <p class="descricao">Total de veículos</p>

                </li>
            </ul>

        </div>

    </div>

    <div class="SubTitle">
        <p class="pResumoDiario">Programação do dia</p>
    </div>

    <div class="ProgDia">
        <div class="cardProgDia">
            <ul>
                <li>Programados<p>0</p>
                </li>
                <li>Produzidos<p>0</p>
                </li>
                <li>Saldo<p>0</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="SubTitle">
        <p class="pResumoDiario">Help Desk</p>
    </div>

    <div class="HelpDesk">
        <main>
            <div class="cardsHelp">
                <ul>
                    <li class="CardHelpDesk"><img src="./static/img/IconSolicitação.png">Abrir Solicitação</li>
                    <li class="CardHelpDesk"><img src="./static/img/iconTicket.png">Abrir Ticket</li>
                </ul>
            </div>
        </main>
    </div>

</body>

</html>